@font-face{
	font-family:NanumSquare
	  src:url('../font/NanumSquareL.tff') format('truetype')
	  font-weight: 300;
}
@font-face{
	font-family:NanumSquare
	 src:url('../font/NanumSquareR.tff') format('truetype')
	 font-weight: 400;
}
@font-face{
	font-family:NanumSquare
	  src:url('../font/NanumSquareB.tff') format('truetype')
	  font-weight: 600;
}
@font-face{
	font-family:NanumSquare
	  src:url('../font/NanumSquareEB.tff') format('truetype')
	  font-weight: 800;
}

*{margin:0;padding:0;}
ul, li{list-style:none;}
input{border:inherit;display:block;opacity:inherit;}
a{text-decoration:none;color:inherit;}
.all{display:block;}

/*헤더: 네비게이션 + 메인 비주얼*/
#header{width:100%;height:550px;position: relative;}
.up{color:#fff;background:none;width:1200px;height:53px;margin:0 auto;z-index:50;position: relative;line-height:53px;}
.navi{font-size:20px;position: absolute;top:0;bottom:0;left:0;right:0;display:flex;justify-content:space-between;}
.navi>h3{font-weight:800;}
.wbar{position:absolute;left:0;right:0;bottom:0;background:#fff;width:100%;height:3px;z-index:0;display: flex;justify-content: center;}
.bar{background:#2dd0ef;height:3px;z-index:10;animation:wbar 3s;width:100%;}
.navi ul{display:flex;width:300px;color:#fff;}
.navi li{margin:0 7px;font-weight:300;transition:.3s}
.navi li:hover{opacity:.8;cursor:pointer;}
.vtext>h2{font-weight:400;color:#fff;font-size:25px;}
.vbtn{width:120px;height:38px;border-radius:5px;background:#fff;color:#000;text-align: center;line-height:38px;float:right;margin-right:10px;font-size:20px;font-weight:400;transition:.3s;}
.vbtn:hover{background:#2dd0ef;}
.vbtn>p{font-size:17px;}
.visual{height:550px;width:100%;position: absolute;top:0;bottom:0;left:0;right:0;}
.vtext{position: absolute;left:calc(100% - 1200px - 18%);top:calc(35%);z-index:50;animation:goToright 15s;opacity:1;}
.vtext h2{color:#fff;font-size:27px;margin-bottom:18px;}
.visual ul{height:550px;width:100%;position: absolute;top:0;left:0;right:0;bottom:0;}
.visual li{position: absolute;top:0;left:0;right:0;bottom:0;background:no-repeat center / cover;}
.visual li:nth-child(1){background-image:url(../image/img3.jpg);z-index:20;animation:vis1 15s infinite;}
.visual li:nth-child(2){background-image:url(../image/mountain.jpg);z-index:10;animation:vis2 15s infinite;}
.visual li:nth-child(3){background-image:url(../image/sky.jpg);z-index:0;animation:vis3 15s infinite;}

/*비주얼영역의 이미지 애니메이션*/
@keyframes vis1 {
	   0%{opacity:1;}
	  20%{opacity:1;}
	33.3%{opacity:0;}
	  53%{opacity:0;}
	66.6%{opacity:0;}
	  86%{opacity:0;}
	 100%{opacity:1;}
}
@keyframes vis2 {
	   0%{opacity:0;}
	  20%{opacity:0;}
	33.3%{opacity:1;}
	  53%{opacity:1;}
	66.6%{opacity:0;}
	  86%{opacity:0;}
	 100%{opacity:0;}
}
@keyframes vis3 {
	   0%{opacity:0;}
	  20%{opacity:0;}
	33.3%{opacity:0;}
	  53%{opacity:0;}
	66.6%{opacity:1;}
	  86%{opacity:1;}
	 100%{opacity:0;}
}
@keyframes goToright {
	0%{transform:translateX(20px);opacity:0;}
	12%{transform:translateX(0px);opacity:1;}
	16%{transform:translateX(0px);opacity:1;}
	100%{transform:translateX(0px);opacity:1;}
}
@keyframes wbar{
	0%{width:0%;}
	70%{width:100%;}
	100%{width:100%;}
}

/*섹션1: 여수의 4가지 테마, 명소를 소개하는 파트.*/
#sec1{width:1000px;height:1000px;margin:0 auto;margin-top:150px;}
#sec1 input{opacity:0;}
#sec1>h3{font-size:27px;font-weight:400;margin:20px auto;width:270px;}
.mark{width:800px;height:80px;margin:0 auto;margin-top:30px;position: relative;}
.mark .line{width:800px;height:2px;background:#cacaca;position: absolute;left:0;right:0;top:39px;}
.tri{left:calc(50% - 6.5px);width:0;height:0;border: 13px solid #cacaca;border-top-width:0;border-right-color: transparent;border-left-color: transparent;transform:translateY(-20px) rotate(180deg) scaleX(.7);z-index:30;}
.cir{left:calc(50% - 6.5px);width:13px;height:13px;border-radius:50%;background:#cacaca;margin-left:7px;z-index:20;}
.fmar{display:flex;width:100%;height:80px;}
.mini{line-height:80px;position: absolute;top:20px;width:200px;height:70px;text-align: center;justify-content:center;}
.mini label{left:10px;right:0;width:110px;height:50px;top:10px;color:#cacaca;text-align: center;margin:5px auto 0;position: absolute;top:0;z-index:50;transition:.2s;}
.mini label:hover{color:#000;}
.mini>div{width:100%;height:24px;margin-top:10px;overflow:hidden;position: absolute;right:0;}
.mini>div>div{position: absolute;right:0;transition:.4s;}
.mini>div>div:nth-child(1){top:9px;z-index:20;}
.mini>div>div:nth-child(2){top:5px;}
.fmar>.mini:nth-child(1){left:calc(0%);}
.fmar>.mini:nth-child(2){left:calc(25%);}
.fmar>.mini:nth-child(3){left:calc(50%);}
.fmar>.mini:nth-child(4){left:calc(75%);}
.part{width:1000px;height:500px;position: relative;margin:30px;}
.part>div{width:1000px;height:500px;position: absolute;box-shadow:0px 0px 15px 2px #dadada;transition:.4s;}

#pos1:checked ~ .part>div:nth-child(1){z-index:20;}
#pos2:checked ~ .part>div:nth-child(2){z-index:20;}
#pos3:checked ~ .part>div:nth-child(3){z-index:20;}
#pos4:checked ~ .part>div:nth-child(4){z-index:20;}

#pos1:checked ~ .mark .fmar .mini:nth-child(1) .cir{transform:translateY(20px);}
#pos2:checked ~ .mark .fmar .mini:nth-child(2) .cir{transform:translateY(20px);}
#pos3:checked ~ .mark .fmar .mini:nth-child(3) .cir{transform:translateY(20px);}
#pos4:checked ~ .mark .fmar .mini:nth-child(4) .cir{transform:translateY(20px);}

#pos1:checked ~ .mark .fmar .mini:nth-child(1) .tri{transform:translateY(0px) rotate(180deg) scaleX(.7);}
#pos2:checked ~ .mark .fmar .mini:nth-child(2) .tri{transform:translateY(0px) rotate(180deg) scaleX(.7);}
#pos3:checked ~ .mark .fmar .mini:nth-child(3) .tri{transform:translateY(0px) rotate(180deg) scaleX(.7);}
#pos4:checked ~ .mark .fmar .mini:nth-child(4) .tri{transform:translateY(0px) rotate(180deg) scaleX(.7);}

.left{width:220px;height:410px;background:linear-gradient(15deg, #0086d3, #12bced);padding:45px 0;color:#fff;position: relative;transition:.7s;z-index:50;}
.fontello{background:#444;width:70px;height:70px;border-radius:50%;margin-left:30px;text-align: center;}
.root1:before{content: '\e800';font-family: fontello;color:#fff;font-size:35px;line-height:70px;}
.txt>div{display:none;}
.txt{font-size:15px;font-weight:300;margin:20px 30px;}
.left>h3{font-weight:400;font-size:20px;margin:20px 30px;}
.left_bar{width:74%;height:4px;background:#fff;margin:20px auto;margin-left:30px;}
.move_bar{width:50%;height:4px;background:#1c6ff1;margin:20px 0;}
.black_btn{width:120px;height:40px;border-radius:20px;background:#444;text-align: center;line-height:40px;position: absolute;bottom:30px;right:15%;z-index:70;}
.right{width:780px;height:500px;background:#fff;position: absolute;right:0;top:0;}
.img{width:780px;height:500px;background:no-repeat center / cover;}
.image1{background-image: url(../image/img1.jpg);}
.image2{background-image: url(../image/img3.jpg);}
.image3{background-image: url(../image/shopping.jpg);}
.image4{background-image: url(../image/food.jpg);}
.white{background:#fff;color:#000;width:100%;height:150px;position: absolute;right:0;bottom:0;}
.white p{margin:20px 30px;font-size:16px;}
#width:checked ~ #part .left{width:380px;}
#width:checked ~ #part .left .black_btn{right:calc(50% - 60px);}

/*섹션2 : 웹사이트에 대한 4가지 정보를 애니메이션과 나타냄*/

#sec2{width:100%;height:330px;background:url(../image/img2.jpg) no-repeat center / cover;position: relative;}
.sec2_wrap{position: absolute;top:0;bottom:0;right:0;left:0;background:#1b253f;opacity:.8;z-index:0;}
.for_cir{width:1200px;height:330px;margin:0 auto;display:flex;position: relative;}
.for_cir>div{text-align: center;color:#fff;position: absolute;top:calc(40% - 40px);}
.for_cir>div:hover h3,
.for_cir>div:hover p{text-shadow:0px 0px 4px #aaa;}
.for_cir>div h3{margin:20px 0 10px;font-size:30px;font-weight:800;transition:.1s}
.for_cir>div p{font-size:17px;transition:.1s;}
.circle{height:80px;width:80px;border-radius:50%;position: relative;background:rgba(255,255,255,.2);text-align: center;overflow:hidden;}
.circle>div:first-child{position: absolute;left:calc(50% - 15px);z-index:10;}
.water{position: absolute;right:0;left:0;background:url(../image/water.png) no-repeat center / cover;height:80px;z-index:0;}
.root2:before{content: '\e802';font-family:fontello;color:#fff;font-size:30px;line-height:80px;}
.root3:before{content: '\f234';font-family:fontello;color:#fff;font-size:30px;line-height:80px;}
.root4:before{content: '\e803';font-family:fontello;color:#fff;font-size:30px;line-height:80px;}
.root5:before{content: '\f1e0';font-family:fontello;color:#fff;font-size:30px;line-height:80px;}
.fc1{position: absolute;left:calc(12.5% - 40px);animation:circle1 5s;opacity:1;}
.fc2{position: absolute;left:calc(37.5% - 40px);animation:circle2 5s;opacity:1;}
.fc3{position: absolute;left:calc(62.5% - 40px);animation:circle3 5s;opacity:1;}
.fc4{position: absolute;left:calc(87.5% - 40px);animation:circle4 5s;opacity:1;}
.fc1 .water{animation:water1 5s;opacity:1;bottom:-40px;}
.fc2 .water{animation:water2 5s;opacity:1;bottom:-12px;}
.fc3 .water{animation:water3 5s;opacity:1;bottom:-45px;}
.fc4 .water{animation:water4 5s;opacity:1;bottom:-32px;}
.fc1:hover .circle{animation:hover .4s;}
.fc2:hover .circle{animation:hover .4s;}
.fc3:hover .circle{animation:hover .4s;}
.fc4:hover .circle{animation:hover .4s;}

@keyframes circle1 {
	0%  {transform:translateY(-40px);opacity:0;}
	6%  {transform:translateY(-40px);opacity:0;}
	17% {transform:translateY(0px);opacity:1;}
	25% {transform:translateY(0px);opacity:1;}
	50% {transform:translateY(0px);opacity:1;}
	75% {transform:translateY(0px);opacity:1;}
	100%{transform:translateY(0px);opacity:1;}
}
@keyframes circle2 {
	0%  {transform:translateY(-40px);opacity:0;}
	10% {transform:translateY(-40px);opacity:0;}
	40% {transform:translateY(0px);opacity:1;}
	50% {transform:translateY(0px);opacity:1;}
	75% {transform:translateY(0px);opacity:1;}
	100%{transform:translateY(0px);opacity:1;}
}
@keyframes circle3 {
	0%  {transform:translateY(-40px);opacity:0;}
	25% {transform:translateY(-40px);opacity:0;}
	50% {transform:translateY(0px);opacity:1;}
	100%{transform:translateY(0px);opacity:1;}
}
@keyframes circle4 {
	0%  {transform:translateY(-40px);opacity:0;}
	30% {transform:translateY(-40px);opacity:0;}
	60% {transform:translateY(0px);opacity:1;}
	100%{transform:translateY(0px);opacity:1;}
}

@keyframes water1 {
	0%  {bottom:-60px;opacity:0;}
	10% {bottom:-60px;opacity:0;}
	25% {bottom:-40px;opacity:1;}
	100%{bottom:-40px;opacity:1;}
}
@keyframes water2 {
	0%  {bottom:-60px;opacity:0;}
	15% {bottom:-60px;opacity:0;}
	45% {bottom:-12px;opacity:1;}
	100%{bottom:-12px;opacity:1;}
}
@keyframes water3 {
	0%  {bottom:-60px;opacity:0;}
	30% {bottom:-60px;opacity:0;}
	50% {bottom:-45px;opacity:1;}
	100%{bottom:-45px;opacity:1;}
}
@keyframes water4 {
	0%  {bottom:-60px;opacity:0;}
	38% {bottom:-60px;opacity:0;}
	60% {bottom:-32px;opacity:1;}
	100%{bottom:-32px;opacity:1;}
}

@keyframes hover {
	0%{transform:scale(1);}
	50%{transform:scale(.8);}
	80%{transform:scale(1);}
	100%{transform:scale(1);}
}

/*슬라이드 : 3개의 이미지를 모달창으로도 볼 수 있는 영역*/
#slide{width:100%;height:300px;position: relative;overflow-x:hidden;}
#slide:hover:before,
#slide:hover:after{animation-play-state:paused;}
.back{display:flex;flex-wrap:wrap;width:100%;height:300px;}
.back>a{width:33.3%;height:100%;background:no-repeat center / cover;}
.back>a:nth-child(1){background-image: url(../image/img1.jpg);}
.back>a:nth-child(2){background-image: url(../image/img2.jpg);}
.back>a:nth-child(3){background-image: url(../image/img3.jpg);}
#slide:before{animation:cover1 infinite 6s;}
#slide:after{animation:cover2 infinite 6s;}
#slide:before,
#slide:after{content:"";width:66.66%;background:rgba(255,255,255,.7);position: absolute;top:0;bottom:0;left:0;right:0;}

@keyframes cover1{
	0%{left:0;}
	33%{left:-33.33%;}
	66%,
	100%{left:-66.66%;}
}
@keyframes cover2{
	0%{left:100%;}
	33%{left:66.66%;}
	66%{left:33.33%;}
	100%{left:0%;}
}

.modal_layer{position: fixed;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,.6);z-index:300;align-items:center;display:none;}
.modal_layer:target{opacity:1;}
.modal_layer .modal{width:60%;height:70%;background:#fff;margin:0 auto;position: relative;}
.modal_layer .modal>a{position: absolute;top:30px;right:30px;}
.slide .image > div div{position:absolute;width:400%;height:300%;background:no-repeat center /cover;}

.slide .img1 .piece1 div{background: url(../image/img1.jpg); left:0; top:0; }
.slide .img1 .piece2 div{background: url(../image/img1.jpg); left:-100%; top:0; }
.slide .img1 .piece3 div{background: url(../image/img1.jpg); left:-200%; top:0; }
.slide .img1 .piece4 div{background: url(../image/img1.jpg); left:-300%; top:0; }
.slide .img1 .piece5 div{background: url(../image/img1.jpg); left:0; top:-100%; }
.slide .img1 .piece6 div{background: url(../image/img1.jpg); left:-100%; top:-100%; }
.slide .img1 .piece7 div{background: url(../image/img1.jpg); left:-200%; top:-100%; }
.slide .img1 .piece8 div{background: url(../image/img1.jpg); left:-300%; top:-100%; }
.slide .img1 .piece9 div{background: url(../image/img1.jpg); left:0; top:-200%; }
.slide .img1 .piece10 div{background: url(../image/img1.jpg); left:-100%; top:-200%; }
.slide .img1 .piece11 div{background: url(../image/img1.jpg); left:-200%; top:-200%; }
.slide .img1 .piece12 div{background: url(../image/img1.jpg); left:-300%; top:-200%; }

.slide .img2 .piece1 div{background: url(../image/img2.jpg); left:0; top:0; }
.slide .img2 .piece2 div{background: url(../image/img2.jpg); left:-100%; top:0; }
.slide .img2 .piece3 div{background: url(../image/img2.jpg); left:-200%; top:0; }
.slide .img2 .piece4 div{background: url(../image/img2.jpg); left:-300%; top:0; }
.slide .img2 .piece5 div{background: url(../image/img2.jpg); left:0; top:-100%; }
.slide .img2 .piece6 div{background: url(../image/img2.jpg); left:-100%; top:-100%; }
.slide .img2 .piece7 div{background: url(../image/img2.jpg); left:-200%; top:-100%; }
.slide .img2 .piece8 div{background: url(../image/img2.jpg); left:-300%; top:-100%; }
.slide .img2 .piece9 div{background: url(../image/img2.jpg); left:0; top:-200%; }
.slide .img2 .piece10 div{background: url(../image/img2.jpg); left:-100%; top:-200%; }
.slide .img2 .piece11 div{background: url(../image/img2.jpg); left:-200%; top:-200%; }
.slide .img2 .piece12 div{background: url(../image/img2.jpg); left:-300%; top:-200%; }

.slide .img3 .piece1 div{background: url(../image/img3.jpg); left:0; top:0; }
.slide .img3 .piece2 div{background: url(../image/img3.jpg); left:-100%; top:0; }
.slide .img3 .piece3 div{background: url(../image/img3.jpg); left:-200%; top:0; }
.slide .img3 .piece4 div{background: url(../image/img3.jpg); left:-300%; top:0; }
.slide .img3 .piece5 div{background: url(../image/img3.jpg); left:0; top:-100%; }
.slide .img3 .piece6 div{background: url(../image/img3.jpg); left:-100%; top:-100%; }
.slide .img3 .piece7 div{background: url(../image/img3.jpg); left:-200%; top:-100%; }
.slide .img3 .piece8 div{background: url(../image/img3.jpg); left:-300%; top:-100%; }
.slide .img3 .piece9 div{background: url(../image/img3.jpg); left:0; top:-200%; }
.slide .img3 .piece10 div{background: url(../image/img3.jpg); left:-100%; top:-200%; }
.slide .img3 .piece11 div{background: url(../image/img3.jpg); left:-200%; top:-200%; }
.slide .img3 .piece12 div{background: url(../image/img3.jpg); left:-300%; top:-200%; }

/*콘텍트 : 여수 사이트와 함께 하고 싶은 사람들의 신청을 받는 영역*/
#contact{width:1000px;height:535px;margin:60px auto 40px;}
#contact>h3{font-size:30px;text-align: center;font-weight: 400;margin:30px 0;}
#contact>h3:hover ~ .gray>div input,
#contact>h3:hover ~ .bottom>div textarea{animation:boom .3s;}
.gray{width:800px;height:50px;background:#ddd;color:#000;display:flex;justify-content:space-between;padding:0 100px;}
.gray>div{display:flex;height:35px;width:300px;justify-content:space-between;line-height:50px;color:#181818;}
.gray>div span{line-height:50px;padding-top:7.5px;}
.gray>div input{line-height:35px;padding-left:20px;width:190px;}
.gray input:focus,
.gray input:invalid,
.bottom textarea:focus{background:#454545;}
.bottom{margin:50px auto 30px;width:910px;height:190px;justify-content:center;}
.bottom p{font-size:20px;color:#181818;text-align: center;}
.bottom textarea{border:1px solid #a9a9a9;width:890px;height:150px;padding:20px;margin:25px auto;}

@keyframes boom {
		0%{transform:rotate(10deg);}
		50%{transform:rotate(-10deg);}
		100%{transform:rotate(10deg);}
}

#footer{width:100%;height:340px;background:#333;color:#fff;}
.upside{width:980px;height:280px;margin:20px auto 30px;padding:10px;display:flex;justify-content:space-between;}
.upside>div{margin:30px;}
.upside>div h3{font-size:20px;font-weight:400;margin:15px 0;}
.about{width:500px;height:200px;position: relative;}
.gallery{width:250px;height:200px;position: relative;}
.social{width:230px;height:200px;position: relative;}
.wrap{display:flex;} 
.sns{width:60px;height:60px;text-align: center;font-size:25px;line-height:60px;margin-right:10px;background:rgba(68,68,68,1);border-radius:50%;transition:.2s;}
.sns:hover{background: rgba(255,255,255,.2);}
.about p{color:rgba(255,255,255,.6);font-size:12px;}
.info{margin:10px 0;}
.Gwrap{width:230px;height:150px;display:flex;flex-wrap:wrap;}
.Gwrap>div{width:70px;height:70px;position: relative;margin-right:5px;}
.Gwrap>div img{width:70px;height:70px;background:no-repeat center / cover;}
.down{height:40px;width:100%;background:#262626;text-align: center;line-height:40px;}
.none{position: absolute;top:0;left:0;right:0;bottom:0;z-index:100;background:rgba(86, 221, 245,.6);color:#fff;text-align: center;line-height:70px;opacity:0;transition:.3s;}
.none:hover{opacity:1;}

.mobile{display:none;}

@media (max-width:480px) {
	.all{display:none;}
	.mobile{display:block;width:100%;height:100vw;margin:0 auto;}
	.mobile h3{margin:0 auto;font-size:28px;font-weight:400;width:370px;height:35px;}
}