/* global */
@font-face {
	font-family: NanumSquare;
	src: url(../font/NanumSquareL.ttf) format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: NanumSquare;
	src: url(../font/NanumSquareR.ttf) format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: NanumSquare;
	src: url(../font/NanumSquareB.ttf) format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: NanumSquare;
	src: url(../font/NanumSquareEB.ttf) format('truetype');
	font-weight: 700;
}

* { margin: 0; padding: 0; }
body { font-family: NanumSquare, fontello; }
ul,li { list-style: none; }
::selection { background: #aaf; color: #afa; }
input[type='radio'],
input[type='checkbox'] { display: none }
label { display: block }
a { text-decoration: none; color: #000; }

/* header */

header { position: relative; width: 100%; height: 550px; }
header .fade { position: absolute; width: 100%; height: 100%; }
header .fade div { position: absolute; width: 100%; height: 100%; }
header .wrap { margin: 0 auto; z-index: 10; width: 90%; height: 550px; position: relative; }
header .nav { position: relative; color: #fff; width: 100%; height: 53px; }
header .nav .block { margin: 0 auto; width: 90%; display: flex; justify-content: space-between; line-height: 50px; }
header .nav .logo { font-size: 30px; }
header .nav .gnb { width: 350px; justify-content: space-between; display: flex; }
header .nav .gnb li { font-size: 20px; }
header .nav .bar { position: absolute; bottom: 0; background: #fff; display: flex; justify-content: center; width: 100%; height: 3px; }
header .nav .bar_animation { height: 3px; animation: bar 2s; background: #2ed1f0; animation-fill-mode: forwards; }
header .main { position: relative; z-index: 10; height: calc(100% - 53px) }
header .main .block { animation: slogan 1.5s; color: #fff; position: absolute; left: 50px; top: 20%; }
header .main .block .text { line-height: 120%; font-size: 25px; width: 450px; height: 140px; }
header .main .block .more { transition: .3s; position: absolute; right: 10px; bottom: 0; background: #fff; color: #000; width: 120px; height: 35px; font-size: 17.5px; text-align: center; line-height: 35px; border-radius: 3px; }
header .main .block .more:hover { background: #2ed1f0; color: #fff; }
header .pos1 { animation: bgfade1 15s infinite; background: url(../image/img3.jpg) no-repeat center/cover; }
header .pos2 { animation: bgfade2 15s infinite; background: url(../image/sky.jpg) no-repeat center/cover; }
header .pos3 { animation: bgfade3 15s infinite; background: url(../image/mountain.jpg) no-repeat center/cover; }

@keyframes slogan {
	0% { opacity: 0; transform: translateX(60px); }
	100% { opacity: 1; transform: translateX(0px); }	
}

@keyframes bgfade1 {
	100%, 0%, 30% { opacity: 1; }
	33%, 63% { opacity: 0; }
	66%, 96% { opacity: 0; }
}
@keyframes bgfade2 {
	100%, 0%, 30% { opacity: 0; }
	33%, 63% { opacity: 1; }
	66%, 96% { opacity: 0; }
}
@keyframes bgfade3 {
	100%, 0%, 30% { opacity: 0; }
	33%, 63% { opacity: 0; }
	66%, 96% { opacity: 1; }
}
@keyframes bar {
	0% { width: 0% }
	100% { width: 100% }
}

.intro { height: 985px; width: 100%; display: flex; flex-flow: column wrap; justify-content: space-around; align-items: center; }
.intro .title { font-size: 30px; }
.intro .title span { font-weight: 600; }
.intro .content { display: flex; flex-flow: column wrap; justify-content: space-between; align-items: center; width: 1000px; height: 615px; }
.intro .content > .bar { display: flex; justify-content: space-around; width: 705px; height: 1px; background: #dbdbdb; }
.intro .content .marker { position: relative; width: 80px; height: 35px;  transform: translateY(-8px); display: flex; justify-content: center; }
.intro .content .marker .text { font-size: 13px; color: #b6b6b6; position: absolute; bottom: 0; }
.intro .content .marker .mark { overflow: hidden; width: 18px; height: 24px; color: #dbdbdb; }
.intro .content .marker .mark > div:first-child { transition: .4s; margin-top: -13px; transform: scale(1.2,1); }
.intro .content .marker .mark > div:last-child { margin-top: 1.5px; }
.intro .content .marker .mark > div { line-height: 14px; }
.intro .content .cont_box { box-shadow: 1px 1px 5px 0 #666; position: relative; display: flex; width: 1000px; height: 500px; }
.intro .content .cont_box .left { transition: .5s; display: flex; justify-content: center; align-items: center; position: absolute; background: linear-gradient(to bottom, #12bced, #018ed6); width: 220px; height: 500px; }
.intro .content .cont_box .left .wrap { display: flex; flex-flow: column wrap; justify-content: space-around; width: 90%; height: 90%; }
.intro .content .cont_box .left .bar { background: #fff; width: 100%; height: 3px; }
.intro .content .cont_box .left .short_bar { background: #1c6ff1; width: 40%; height: 3px; }
.intro .content .cont_box .left .circle { font-size: 30px; color: #fff; background: #444; width: 67px; height: 67px; font-style: normal; border-radius: 50%; text-align: center; line-height: 67px; }
.intro .content .cont_box .left .title { font-size: 30px; color: #fff; }
.intro .content .cont_box .left .more { position: absolute; left: calc(50% - 58.5px); bottom: 40px; background: #444; width: 117px; height: 38px; color: #fff; border-radius: 19px; text-align: center; line-height: 38px; }
.intro .content .cont_box .left .fakebox { width: 117px; height: 38px; }
.intro .content .cont_box .left .desc { color: #fff; }
.intro .content .cont_box .right { margin-left: 220px; width: 780px; height: 500px; }
.intro .content .cont_box .right .image { width: 780px; height: 350px; }
.intro .content .cont_box .right .desc { display: flex; justify-content: center; align-items: center; width: 780px; height: 150px; }
.intro .content .cont_box .right .desc div { width: 90%; }

.intro #pos1:checked ~ .bar .marker:nth-child(1) .mark > div:first-child { margin-top: 7px; }
.intro #pos2:checked ~ .bar .marker:nth-child(2) .mark > div:first-child { margin-top: 7px; }
.intro #pos3:checked ~ .bar .marker:nth-child(3) .mark > div:first-child { margin-top: 7px; }
.intro #pos4:checked ~ .bar .marker:nth-child(4) .mark > div:first-child { margin-top: 7px; }
.intro #pos1:checked ~ .cont_box .left .circle:before { content: "\e800"; }
.intro #pos2:checked ~ .cont_box .left .circle:before { content: "\e801"; }
.intro #pos3:checked ~ .cont_box .left .circle:before { content: "\f290"; }
.intro #pos4:checked ~ .cont_box .left .circle:before { content: "\f0f5"; }
.intro #pos1:checked ~ .cont_box .left .title:before { content: "Landmark"; }
.intro #pos2:checked ~ .cont_box .left .title:before { content: "Nature / Park"; }
.intro #pos3:checked ~ .cont_box .left .title:before { content: "Shopping"; }
.intro #pos4:checked ~ .cont_box .left .title:before { content: "Food"; }
.intro #pos1:checked ~ .cont_box .left .desc p:first-child:before { content: "[Landmark] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"; }
.intro #pos2:checked ~ .cont_box .left .desc p:first-child:before { content: "[Nature / Park] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"; }
.intro #pos3:checked ~ .cont_box .left .desc p:first-child:before { content: "[Shopping] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"; }
.intro #pos4:checked ~ .cont_box .left .desc p:first-child:before { content: "[Food] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,"; }
.intro #pos1:checked ~ #more:checked ~ .cont_box .left { width: 385px; }
.intro #pos2:checked ~ #more:checked ~ .cont_box .left { width: 385px; }
.intro #pos3:checked ~ #more:checked ~ .cont_box .left { width: 385px; }
.intro #pos4:checked ~ #more:checked ~ .cont_box .left { width: 385px; }
.intro #pos1:checked ~ #more:checked ~ .cont_box .left .desc p:last-child:before { content: " quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse"; }
.intro #pos2:checked ~ #more:checked ~ .cont_box .left .desc p:last-child:before { content: " quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse"; }
.intro #pos3:checked ~ #more:checked ~ .cont_box .left .desc p:last-child:before { content: " quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse"; }
.intro #pos4:checked ~ #more:checked ~ .cont_box .left .desc p:last-child:before { content: " quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse"; }
.intro #pos1:checked ~ .cont_box .right .image { background: url(../image/img1.jpg)no-repeat center/cover; }
.intro #pos2:checked ~ .cont_box .right .image { background: url(../image/img3.jpg)no-repeat center/cover; }
.intro #pos3:checked ~ .cont_box .right .image { background: url(../image/shopping.jpg)no-repeat center/cover; }
.intro #pos4:checked ~ .cont_box .right .image { background: url(../image/food.jpg)no-repeat center/cover; }
.intro #pos1:checked ~ .cont_box .right .desc .text:before { content: "[Landmark] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."; }
.intro #pos2:checked ~ .cont_box .right .desc .text:before { content: "[Nature / Park] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."; }
.intro #pos3:checked ~ .cont_box .right .desc .text:before { content: "[Shopping] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."; }
.intro #pos4:checked ~ .cont_box .right .desc .text:before { content: "[Food] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."; }

/* info */
.info { position: relative; height: 330px; width: 100%; background: url(../image/img2.jpg) no-repeat 50% 75%/cover; }
.info:before { content: ""; position: absolute; display: block; left: 0; right: 0; top: 0; bottom: 0; background: rgba(52,62,87,0.7); }
.info .wrap { position: absolute; display: flex; justify-content: space-around; align-items: center; left: 50%; transform: translateX(-50%); width: 80%; height: 100%; }
.info .circle_box { display: flex; flex-flow: column wrap; justify-content: space-around; align-items: center; width: 78px; height: 160px; }
.info .circle_box .circle {opacity: 0; animation: circle 1s; animation-fill-mode: forwards; overflow: hidden; width: 78px; height: 78px; background: #5e718f; color: #fff; border-radius: 50%; text-align: center; line-height: 78px; font-size: 40px; }
.info .circle_box:hover .circle { opacity: 1; animation: bounce 1s; animation-delay: 0s !important; }
.info .circle_box:nth-child(1) .circle { animation-delay: 0s; }
.info .circle_box:nth-child(2) .circle { animation-delay: 0.5s; }
.info .circle_box:nth-child(3) .circle { animation-delay: 1s; }
.info .circle_box:nth-child(4) .circle { animation-delay: 1.5s; }
.info .circle_box .bg { animation: wave 1s; animation-fill-mode: forwards; width: 78px; height: 78px; background: url(../image/water.png)no-repeat center/cover; }
.info .circle_box:nth-child(1) .bg { animation-delay: 0s; }
.info .circle_box:nth-child(2) .bg { animation-delay: 0.5s; }
.info .circle_box:nth-child(3) .bg { animation-delay: 1s; }
.info .circle_box:nth-child(4) .bg { animation-delay: 1.5s; }
.info .circle_box .circle div:not(.bg) { position: relative; z-index: 20 }
.info .circle_box p { text-align: center; color: #fff; }
.info .circle_box p:first-of-type { font-size: 30px; font-weight: 700; }

@keyframes circle {
	0% { opacity: 0; transform: translateY(-30px); }
	100% { opacity: 1; transform: translateY(0px); }	
}

@keyframes wave {
	0% { transform: translateY(30px); }
	100% { transform: translateY(-40px); }
}

@keyframes bounce {
	0% { transform: scale(1); }
	33.33% { transform: scale(1.1); }
	39.33% { transform: scale(1.1); }
	63.66% { transform: scale(0.6); }
	69.66% { transform: scale(0.6); }
	100% { transform: scale(1); }
}

.slide { overflow: hidden; position: relative; width: 100%; height: 300px; }
.slide:hover:before,
.slide:hover:after{animation-play-state:paused;}
.slide:before,
.slide:after{content:"";width:66.66%;background:#fff;opacity:0.5;position:absolute;top:0;bottom:0;z-index:20;}
.slide:before{animation:cover_slide1 6s infinite;}
.slide:after{animation:cover_slide2 6s infinite;}
.slide .img_cover { display: flex; }
.slide .slide_img { position: relative; display: block; width: 33.33%; height: 300px; }
.slide .slide_img:nth-child(1) { background:url(../image/img1.jpg) no-repeat center / cover; }
.slide .slide_img:nth-child(2) { background:url(../image/img2.jpg) no-repeat center / cover; }
.slide .slide_img:nth-child(3) { background:url(../image/img3.jpg) no-repeat center / cover; }

@keyframes cover_slide1 {
	0%{left:0;}
	33%{left:-33.33%;}
	66%,
	100%{left:-66.66%;}
}

@keyframes cover_slide2 {
	0%{left:100%;}
	33%{left:66.66%;}
	66%{left:33.33%;}
	100%{left:0%;}
}

.slide .modal_layer { pointer-events: none; z-index: 50; display: flex; justify-content: center; align-items: center; left: 0; right: 0; top: 0; bottom: 0; position: fixed; background: rgba(0,0,0,0.7); opacity: 0; }
.slide .modal_layer:target { opacity: 1; pointer-events: auto; }
.slide .modal_layer:target { opacity: 1; pointer-events: auto; }
.slide .modal_layer .modal { position: relative; display: flex; justify-content: center; align-items: center; background: #fff; width: 60%; height: 70%; }
.slide .modal_layer .modal a { position: absolute; right: 30px; top: 30px; z-index: 25 }

.slide .image { display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; flex-wrap: wrap; }
.slide .image > div { overflow: hidden; position: relative; width: 25%; height: 33.33%; margin: 0% }
.slide .image > div div { position: absolute; width: 400%; height: 300%; }

.slide .img1:target .image { animation: active 1s; }
.slide .img1:target .image > div { animation: active_piece 1s; }
.slide .img2:target .image { animation: active 1s; }
.slide .img2:target .image > div { animation: active_piece 1s; }
.slide .img3:target .image { animation: active 1s; }
.slide .img3:target .image > div { animation: active_piece 1s; }
.slide .close:target ~ .modal_layer .image > div { animation: deactive 1s; }

.slide .img1 .piece1 div { background: url(../image/img1.jpg) no-repeat center/cover; left:0; top:0; }
.slide .img1 .piece2 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-100%; top:0; }
.slide .img1 .piece3 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-200%; top:0; }
.slide .img1 .piece4 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-300%; top:0; }
.slide .img1 .piece5 div { background: url(../image/img1.jpg) no-repeat center/cover; left:0; top:-100%; }
.slide .img1 .piece6 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-100%; top:-100%; }
.slide .img1 .piece7 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-200%; top:-100%; }
.slide .img1 .piece8 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-300%; top:-100%; }
.slide .img1 .piece9 div { background: url(../image/img1.jpg) no-repeat center/cover; left:0; top:-200%; }
.slide .img1 .piece10 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-100%; top:-200%; }
.slide .img1 .piece11 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-200%; top:-200%; }
.slide .img1 .piece12 div { background: url(../image/img1.jpg) no-repeat center/cover; left:-300%; top:-200%; }

.slide .img2 .piece1 div { background: url(../image/img2.jpg) no-repeat center/cover; left:0; top:0; }
.slide .img2 .piece2 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-100%; top:0; }
.slide .img2 .piece3 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-200%; top:0; }
.slide .img2 .piece4 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-300%; top:0; }
.slide .img2 .piece5 div { background: url(../image/img2.jpg) no-repeat center/cover; left:0; top:-100%; }
.slide .img2 .piece6 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-100%; top:-100%; }
.slide .img2 .piece7 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-200%; top:-100%; }
.slide .img2 .piece8 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-300%; top:-100%; }
.slide .img2 .piece9 div { background: url(../image/img2.jpg) no-repeat center/cover; left:0; top:-200%; }
.slide .img2 .piece10 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-100%; top:-200%; }
.slide .img2 .piece11 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-200%; top:-200%; }
.slide .img2 .piece12 div { background: url(../image/img2.jpg) no-repeat center/cover; left:-300%; top:-200%; }

.slide .img3 .piece1 div { background: url(../image/img3.jpg) no-repeat center/cover; left:0; top:0; }
.slide .img3 .piece2 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-100%; top:0; }
.slide .img3 .piece3 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-200%; top:0; }
.slide .img3 .piece4 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-300%; top:0; }
.slide .img3 .piece5 div { background: url(../image/img3.jpg) no-repeat center/cover; left:0; top:-100%; }
.slide .img3 .piece6 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-100%; top:-100%; }
.slide .img3 .piece7 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-200%; top:-100%; }
.slide .img3 .piece8 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-300%; top:-100%; }
.slide .img3 .piece9 div { background: url(../image/img3.jpg) no-repeat center/cover; left:0; top:-200%; }
.slide .img3 .piece10 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-100%; top:-200%; }
.slide .img3 .piece11 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-200%; top:-200%; }
.slide .img3 .piece12 div { background: url(../image/img3.jpg) no-repeat center/cover; left:-300%; top:-200%; }


@keyframes active {
	0% { width: 0%; height: 0%; }
	50% { width: 150%; height: 150%; }
	100% { width: 100%; height: 100%; }
}

@keyframes active_piece {
	0% { width: 21.25%; height: 26.33%; margin: 0.33%; }
	25% { margin: 0.67%; }
	50% { margin: 1.67%; }
	75% { width: 21.25%; height: 26.33%; margin: 0.67%; }
	100% { width: 25%; height: 33.33%; margin: 0; }
}

@keyframes deactive {
	0% { width: 100%; height: 100%; }
	50% { width: 150%; height: 150%; }
	100% { width: 0%; height: 0%; }
}


/* contact */
.contact { display: flex; justify-content: center; align-items: center; height: 635px; width: 100%; }
.contact > div > p:hover ~ .form input,
.contact > div > p:hover ~ .textarea textarea { animation: shake .1s; animation-iteration-count: 3; -webkit-animation-direction: alternate;
-o-animation-direction: alternate;
animation-direction: alternate; }
.contact div { display: flex; flex-flow: column wrap; justify-content: space-around; align-items: center; }
.contact > div { justify-content: space-between; height: 430px; }
.contact > div > p { font-size: 30px; font-weight: 600; }
.contact .top_bg { width: 1000px; height: 50px; background: #ddd; display: flex; }
.contact .top_bg > div { width: 100%; }
.contact .top_bg input:focus,
.contact .top_bg input:invalid,
.contact textarea:focus,
.contact textarea { background: #454545; }
.contact textarea:empty { background: #fff; }
.contact .top_bg input { margin-left: 10px; width: 215px; height: 20px; padding: 5px; }
.contact .form { display: flex; }
.contact .form div:not(.top_bg) { height: 270px; }
.contact > div > div p { font-size: 17px; text-align: center; color: #777; }
.contact .textarea { padding: 10px; color: #8a8a8a; width: 910px; height: 170px; resize: none; }
.contact textarea { padding: 10px; color: #8a8a8a; width: 910px; height: 170px; resize: none; }

@keyframes shake {
	from { transform: rotate(10deg); }
	to { transform-origin:center center; transform: rotate(-10deg); }
}
/* footer */
footer { height: 345px; }
footer .top { display: flex; justify-content: space-around; align-items: center; background: #333; color: #fff; height: 300px; }
footer .top .title { font-size: 20px; font-weight: 600; }
footer .top .about { font-size: 13px; width: 480px; height: 200px; display: flex; flex-flow: column wrap; justify-content: space-between; }
footer .top .gallery { height: 200px; display: flex; flex-flow: column wrap; justify-content: space-between; align-content: space-between; }
footer .top .gallery .image_box { width: 230px; height: 150px; display: flex; flex-wrap: wrap; justify-content: space-between; align-content: space-between; }
footer .top .gallery .image_box .img { width: 70px; height: 70px; }
footer .top .gallery .image_box .img .layer { display: none; width: 70px; height: 70px; text-align: center; line-height: 70px; background: rgba(86, 221, 245,.5); color: #fff; }
footer .top .gallery .image_box .img:hover .layer { display: block; }
footer .top .gallery .image_box .img:nth-child(1) { background: url(../image/sky.jpg) no-repeat center/cover; }
footer .top .gallery .image_box .img:nth-child(2) { background: url(../image/img1.jpg) no-repeat center/cover; }
footer .top .gallery .image_box .img:nth-child(3) { background: url(../image/img3.jpg) no-repeat center/cover; }
footer .top .gallery .image_box .img:nth-child(4) { background: url(../image/img4.jpg) no-repeat center/cover; }
footer .top .gallery .image_box .img:nth-child(5) { background: url(../image/mountain.jpg) no-repeat center/cover; }
footer .top .gallery .image_box .img:nth-child(6) { background: url(../image/sea.jpg) no-repeat center/cover; }
footer .top .social {display: flex; flex-flow: column wrap; justify-content: space-between; width: 240px; height: 200px; }
footer .top .social .wrap { display: flex; height: 150px; }
footer .top .social .circle {margin-right: 10px; font-size: 20px; border-radius: 50%; width: 55px; height: 55px; text-align: center; line-height: 55px; background: #444; }
footer .bottom { background: #262626; width: 100%; height: 45px; color: #fff; text-align: center; line-height: 45px; }
