*{margin:0;padding:0;}
 ul, li{list-style:none;}
 
#header{width:100%;height:145px;position: relative;}
.up{width:100%;height:50px;background:#1f273a;}
.up>div{width:1200px;height:50px;display:flex;justify-content:space-between;color:#fff;margin:0 auto;}
.sns{line-height:50px;}
.sns>i{font-size:20px;margin-right:15px;transition:.3s}
.sns>i:nth-child(1){color:#e4012e;}
.thing{display:flex;position: relative;}
.thing i{line-height:50px;margin-right:3px;margin-top:2px;}
.thing h3{font-size:17px;font-weight:400;margin-right:25px;line-height:50px;}
.thing h3:nth-child(3){margin-right:0px;}
.thing>div{transition:.3s;display:flex;}
.thing>div:hover{color:#e4012e;}
.down{width:100%;height:95px;background:#fff;}
.down>div{width:1200px;height:95px;display:flex;justify-content:space-between;margin:0 auto;}
.logo{font-size:25px;color:#000;line-height:95px;font-weight:600;}
.logo:hover{cursor:pointer;}
.logo strong{color:#e4012e;}
.menu ul{display:flex;margin-top:25px;}
.menu li{font-size:14px;padding:15px 20px;transition:.5s}
.menu li:nth-child(1){background:#e4012e;color:#fff;}
.menu li:hover{background:#e4012e;color:#fff;}
.sns i:hover{color:#e4012e;}
#slide{width:100%;height:600px;position: relative;}
#slide ul{display:flex;width:500%;height:600px;transition:.5s;}
#slide li{background:no-repeat center / cover;width:20%;}
#slide li:nth-child(1){background-image:url(../images/visual1.png);}
#slide li:nth-child(2){background-image:url(../images/visual2.png);}
#slide li:nth-child(3){background-image:url(../images/visual3.png);}
#slide li:nth-child(4){background-image:url(../images/visual4.png);}
#slide li:nth-child(5){background-image:url(../images/visual5.png);}
.upper{position: absolute;top:0;bottom:0;right:0;left:0;z-index:60;}
.white{width:1200px;height:200px;background:rgba(255,255,255,.7);position: absolute;bottom:0;left:calc(50% - 600px);text-align: center;}
.white h3{font-size:30px;margin:40px 0 30px;transform:inherit;}
.white p{font-size:20px;color:#e4012e;transform:inherit;}
.arrow{position: relative;top:calc(50% - 40px);width:35px;height:60px;z-index:10;display:inline-block;}
.arrow label{position: absolute;top:0;bottom:0;left:0;right:0;}
.arrow i{color:rgba(255,255,255,.8);font-size:80px;position: absolute;top:10px;}
.arrow.left{left:260px;}
.arrow.right{left:calc(260px + 1200px + 80px);}
.radio{position: absolute;bottom:10px;left:calc(50% - 65px);width:130px;height:25px;display:flex;justify-content:space-between;}
.round{width:20px;height:20px;border-radius:50%;border:1px solid #000;transition:.3s;}
.round .mini{width:10px;height:10px;border-radius:50%;background:#000;margin:0 auto;margin-top:calc(50% - 5px);transition:.3s;}

#slide input{display:block;position: absolute;z-index:1000;}
#slide input:nth-child(1){left:110px;}
#slide input:nth-child(2){left:120px;}
#slide input:nth-child(3){left:130px;}
#slide input:nth-child(4){left:140px;}
#slide input:nth-child(5){left:150px;}

#pos1:checked ~ ul{margin-left:0;}
#pos2:checked ~ ul{margin-left:-100%;}
#pos3:checked ~ ul{margin-left:-200%;}
#pos4:checked ~ ul{margin-left:-300%;}
#pos5:checked ~ ul{margin-left:-400%;}

#pos1:checked ~ .upper .white .radio .round:nth-child(1){border:1px solid #fff;}
#pos2:checked ~ .upper .white .radio .round:nth-child(2){border:1px solid #fff;}
#pos3:checked ~ .upper .white .radio .round:nth-child(3){border:1px solid #fff;}
#pos4:checked ~ .upper .white .radio .round:nth-child(4){border:1px solid #fff;}
#pos5:checked ~ .upper .white .radio .round:nth-child(5){border:1px solid #fff;}

#pos1:checked ~ .upper .white .radio .round:nth-child(1) .mini{background:#e4012e;}
#pos2:checked ~ .upper .white .radio .round:nth-child(2) .mini{background:#e4012e;}
#pos3:checked ~ .upper .white .radio .round:nth-child(3) .mini{background:#e4012e;}
#pos4:checked ~ .upper .white .radio .round:nth-child(4) .mini{background:#e4012e;}
#pos5:checked ~ .upper .white .radio .round:nth-child(5) .mini{background:#e4012e;}

#pos1:checked ~ .upper .arrow.left i label:nth-child(5){z-index:50;}
#pos2:checked ~ .upper .arrow.left i label:nth-child(1){z-index:50;}
#pos3:checked ~ .upper .arrow.left i label:nth-child(2){z-index:50;}
#pos4:checked ~ .upper .arrow.left i label:nth-child(3){z-index:50;}
#pos5:checked ~ .upper .arrow.left i label:nth-child(4){z-index:50;}

#pos1:checked ~ .upper .arrow.right i label:nth-child(2){z-index:50;}
#pos2:checked ~ .upper .arrow.right i label:nth-child(3){z-index:50;}
#pos3:checked ~ .upper .arrow.right i label:nth-child(4){z-index:50;}
#pos4:checked ~ .upper .arrow.right i label:nth-child(5){z-index:50;}
#pos5:checked ~ .upper .arrow.right i label:nth-child(1){z-index:50;}

#pos1:checked ~ .upper .white h3{animation:uptodown .2s;transform:translateY(0px);}
#pos2:checked ~ .upper .white h3{animation:uptodown .2s;transform:translateY(0px);}
#pos3:checked ~ .upper .white h3{animation:uptodown .2s;transform:translateY(0px);}
#pos4:checked ~ .upper .white h3{animation:uptodown .2s;transform:translateY(0px);}
#pos5:checked ~ .upper .white h3{animation:uptodown .2s;transform:translateY(0px);}

@keyframes uptodown {
	0%{transform:translateY(-30px);}
	100%{transform:translateY(0px);}
}
@keyframes downtoup {
	0%{transform:translateY(0px);}
	100%{transform:translateY(30px);}
}

#main{width:100%;height:1520px;margin:0 auto;}
.main1{width:1200px;height:1000px;margin:10px auto;}
.title{margin:40px 0;height:100px;display:flex;width:150px;}
.title h3{line-height:100px;font-size:25px;}
.title>div{width:7px;height:35px;background:#e4012e;margin-top:32px;margin-right:5px;}
.flex{width:1200px;height:797px;display:flex;flex-wrap:wrap;justify-content:space-between;}
.things{width:280px;height:370px;position: relative;transition:.5s;}
.wrapped{position: absolute;top:0;bottom:0;left:0;right:0;background:rgba(228,1,46,.35);transition: .5s;}
.txt{position: absolute;color:#fff;margin:40px 20px;text-align: center;top:0;}
.utod{transform:translateY(-50px);transition:.4s}
.btn{transform:translateY(50px);transition:.4s}
.txt h3{font-weight:600;font-size:25px;margin:15px 0;margin-top:30px;}
.txt p{font-size:17px;line-height:120%;margin-top:20px;}
.txt .btn{width:33.3%;height:30px;margin:0 auto;border:4px double #fff;border-radius:5px;line-height:30px;margin-top:30px;font-size:13px;}
.wrapped,
.txt{opacity: 0;}
.things:hover{cursor:pointer;}
.things:hover .wrapped{opacity:1;}
.things:hover .txt{opacity:1;}
.things:hover .txt .utod{opacity:1;transform:inherit;}
.things:hover .txt .btn{opacity:1;transform:inherit;}
.btn:hover{background:rgba(228,1,46,.8);}

.main2{width:100%;height:590px;background:#f5f5f5;}
.main2 input{z-index:20;}
.main2_wrap{width:1200px;height:100%;margin:0 auto;}
.main2_wrap>h3{margin:35px auto;font-size:25px;text-align: center;}
.upside{display:flex;width:540px;height:30px;justify-content: space-between;align-items: center;margin:0 auto;}
.upside>div{display:flex;align-items:center;}
.upside>div h3{color:rgba(0,0,0,.5);font-weight:600;margin-right:15px;font-size:15px;}
.color{width:165px;height:30px;justify-content: space-between;align-items:center;}
.color>div{width:25px;height:25px;position: relative;}
.color>div label{display:block;position: absolute;top:0;bottom:0;left:0;right:0;}
.color>div label:hover{cursor:pointer;}
.color div.first label{background:#5c8aa2;}
.color div.second label{background:#42978f;}
.type{width:356px;height:30px;justify-content: space-between;padding-left:15px;}
.type div{display:flex;justify-content: space-between;width:295px;height:100%;}
.type div label{width:63px;height:30px;border:1px solid #808080;color:#808080;display:block;text-align: center;line-height:30px;cursor:pointer;}
.type div label:nth-child(1){width:63px;}
.type div label:nth-child(4){width:80px;}

#color1:checked ~ .main2_wrap .downside .container li .inner:before,
#color1:checked ~ .main2_wrap .downside .container li .inner:after,
#color1:checked ~ .main2_wrap .downside .container li .inner{background:#5c8aa2;}
#color2:checked ~ .main2_wrap .downside .container li .inner:before,
#color2:checked ~ .main2_wrap .downside .container li .inner:after,
#color2:checked ~ .main2_wrap .downside .container li .inner{background:#42978f;}

#type1:checked ~.main2_wrap .upside .type div label:nth-child(1){background:#808080;color:#fff;}
#type2:checked ~.main2_wrap .upside .type div label:nth-child(2){background:#808080;color:#fff;}
#type3:checked ~.main2_wrap .upside .type div label:nth-child(3){background:#808080;color:#fff;}
#type4:checked ~.main2_wrap .upside .type div label:nth-child(4){background:#808080;color:#fff;}

#type1:checked ~ .main2_wrap .downside .container .box1 .inner{height:160px;}
#type1:checked ~ .main2_wrap .downside .container .box2 .inner{height:320px;}
#type1:checked ~ .main2_wrap .downside .container .box3 .inner{height:240px;}
#type1:checked ~ .main2_wrap .downside .container .box4 .inner{height:160px;}
#type1:checked ~ .main2_wrap .downside .container .box5 .inner{height:80px;}

#type2:checked ~ .main2_wrap .downside .container .box1 .inner{height:80px;}
#type2:checked ~ .main2_wrap .downside .container .box2 .inner{height:160px;}
#type2:checked ~ .main2_wrap .downside .container .box3 .inner{height:320px;}
#type2:checked ~ .main2_wrap .downside .container .box4 .inner{height:240px;}
#type2:checked ~ .main2_wrap .downside .container .box5 .inner{height:320px;}

#type3:checked ~ .main2_wrap .downside .container .box1 .inner{height:160px;}
#type3:checked ~ .main2_wrap .downside .container .box2 .inner{height:240px;}
#type3:checked ~ .main2_wrap .downside .container .box3 .inner{height:240px;}
#type3:checked ~ .main2_wrap .downside .container .box4 .inner{height:160px;}
#type3:checked ~ .main2_wrap .downside .container .box5 .inner{height:80px;}

#type4:checked ~ .main2_wrap .downside .container .box1 .inner{height:240px;}
#type4:checked ~ .main2_wrap .downside .container .box2 .inner{height:160px;}
#type4:checked ~ .main2_wrap .downside .container .box3 .inner{height:320px;}
#type4:checked ~ .main2_wrap .downside .container .box4 .inner{height:80px;}
#type4:checked ~ .main2_wrap .downside .container .box5 .inner{height:160px;}

:root {
	--x:skewX(-60deg);
	--y:skewY(-30deg);
}
.downside{display:flex;margin-top:50px;}
.container{position: relative;display:inline-block;margin:0 auto;    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, .6) 100%, transparent 100%);font-size: 30px;width:950px;height:320px;display:flex;}
.container:before,
.container:after{content:"";position:absolute;background:#000;}
.container:before{transform:var(--x);width:70%;height:1.8em;bottom:-1.8em;left:-0.9em;opacity:0.15;}
.container:after{transform:var(--y);width:3.2em;height:100%;bottom:-0.9em;left:-2.5em;opacity:0.12;}

.container>span{width:200px;}
.container li{margin:20px 50px 20px 80px;position: relative; width:130px;margin-left:100px;}
.back{position: absolute;font-size:18px;background:rgba(0,0,0,.16);display:inline-block;height:320px;width:130px;bottom:-1.3em;left:-4em;}
.back:before{position: absolute;background:rgba(0,0,0,.02);transform:var(--x);width:100%;height:2.5em;content:"";bottom:-2.5em;left:-1.25em;}
.back:after{position: absolute;background:rgba(0,0,0,.04);transform:var(--y);width:2.5em;height:100%;content:"";bottom:-1.25em;left:-2.5em;}

.front{position: absolute;font-size:18px;background:rgba(0,0,0,.04);width:130px;height:320px;left:-6.5em;bottom:-3.65em;}
.front:before{position: absolute;background:rgba(0,0,0,.06);transform:var(--y);width:2.5em;height:100%;content:"";bottom:1.25em;right:-2.5em;}
.front:after{position: absolute;background:rgba(0,0,0,.06);transform:var(--x);width:100%;height:2.5em;content:"";top:-2.5em;right:-1.25em;}

.inner{position: absolute;font-size:18px;width:130px;bottom:-3.75em;left:-6.5em;transition:.5s;}
.inner:before,
.inner:after{position: absolute;content:"";}
.inner:before{transform:var(--x);width:100%;height:2.5em;right:-1.25em;top:-2.5em;}
.inner:after{transform:var(--y);width:2.5em;height:100%;right:-2.5em;top:-1.25em;}

.box1 .inner:before,
.box1 .inner:after,
.box1 .inner{background:#c46d3b;}
.box2 .inner:before,
.box2 .inner:after,
.box2 .inner{background:#42978f;}
.box3 .inner:before,
.box3 .inner:after,
.box3 .inner{background:#be5380;}
.box4 .inner:before,
.box4 .inner:after,
.box4 .inner{background:#d6be43;}
.box5 .inner:before,
.box5 .inner:after,
.box5 .inner{background:#5c8aa2;}

#footer{width:100%;height:450px;background:#1f273a;color:#fff;margin-top:590px;}
.loca{width:100%;height:400px;display:flex;}
.loca .map{width:50%;height:100%;}
.loca .map img{width:100%;height:100%;}
.info{padding:45px 60px;width:50%;height:310px;}
.thi{display:flex;margin-bottom:35px;}
.thi i{font-size:45px;color:#e4012e;}
.thi:nth-child(1) i{margin-left:3px;}
.thi:nth-child(2) i{margin-left:-10px;}
.thi>div{margin-left:30px;text-align: left;}
.thi h3{font-size:20px;font-weight:600;}
.copy{background:#1f273a;color:#fff;text-align: center;height:50px;line-height:50px;}
