*{margin:0;padding:0;}
ul, li{list-style:none;}
a{display:static;text-decoration:none;color:inherit;}
button{background:inherit;border:inherit;}
input{border:inherit;background:inherit;display:block;}

body{position: relative;height:4723px;}
#header{width:100%;height:600px;background:url(../images/yeosu-343350_1920.jpg) no-repeat center / cover;text-align: center;}
.head{width:1280px;margin:0 auto;display:flex;justify-content:space-between;}
.logo{padding:15px 10px 20px;}
.logo img{width:100px;}
.menu ul{display:flex;width:700px;height:100px;justify-content:space-between;margin:0;text-align: center;margin-top:40px;}
.menu li{color:#fff;width:100px;height: 40px;line-height:40px;position: relative;}
.menu li p{position: absolute;z-index:10;left:18px;}
.li_back{width:0%;height:40px;background:#000;position: absolute;top:0;transition:.3s;}
.menu li:hover{cursor:pointer;}
.menu li:hover .li_back{width:100%;transform-origin:50%;}
.menu ul>div{background:#77933c;color:#fff;width:100px;height: 40px;line-height:40px;border-radius:7px;}
.visual_txt{color:#fff;}
.visual_txt h2{font-size:50px;}
.visual_txt p{font-size:14px;}
.visual_txt button{color:#fff;font-size:14px;font-weight:200;width:100px;height:40px;background:#77933c;margin:20px;border-radius:5px;}

#layer{position: absolute;top:530px;left:calc(50% - 47%);width:94%;height:4090px;background:#fff;border:1px solid #000;}
#layer section>h3{font-size:25px;color:#000;text-align: center;}
#layer section>h5{font-size:15px;color:#adb4c9;margin:10px auto;text-align: center;}

#sec1{text-align: center;width:100%;height:330px;}
#sec1>div:first-child{margin:40px 0 20px;}
.sec1_2{display:flex;width:1280px;margin:0 auto;height:250px;justify-content:space-between;padding:0 30px;}
.sec1_2>div{width:30%;height:100%;}
.sec1_2>div:hover img{margin-top:-20px;}
.sec1_2>div:hover h4{margin-top:30px;}
.sec1_2>div img{margin:15px 0;transition:.5s;}
.sec1_2>div h4{font-size:20px;margin-bottom:10px;transition:.2s;}
#sec1 p{font-size:14px;color:rgba(0,0,0,.6);}

#sec2{width:100%;height:880px;background:url(../images/s4.jpg) no-repeat center / cover;background-attachment:fixed;}
.sec2_wrap{width:1180px;height:780px;margin:0 auto;display:flex;flex-wrap:wrap;justify-content:space-between;padding:50px;}
.txt{width:500px;height:400px;color:#fff;}
.txt h3{font-size:30px;margin-bottom:20px;}
.txt h5{font-size:20px;margin-bottom:20px;}
.txt p{font-size:18px;margin-bottom:5px;}
.about{width:400px;height:400px;margin-right:150px;}
.about img{width:430px;height:260px;}
.video{width:575px;margin:0 auto;}
.video video{width:575px;height:325px;}

#sec3{width:100%;height:830px;background:#d9d9d9;text-align: center;padding-top:80px;}
#sec3>h3{margin-top:0px !important;}
.sec3_1{width:1200px;height:600px;margin:0 auto;display:flex;margin-top:35px;}
.sec3_1>div{width:290px;height:600px;background:#fff;border-radius:15px;position: relative;margin-right:15px;margin-top:25px;box-shadow:1px 3px 5px #000;}
.sec3_1>div:hover .text{bottom:170px;top:5px;}
.sec3_1>div:hover img{bottom:20px;top:170px;}
.sec3_1>div img{width:90%;height:380px;border-radius:15px;position: absolute;left:calc(50% - 45%);top:-30px;transition:.5s;z-index:10;}
.text{bottom:20px;width:calc(100% - 50px);height:200px;position: absolute;left:0;padding:0 25px;transition:.5s;}
.text h3{font-size:20px;margin:20px;}
.text h4{font-size:16px;margin:10px;}
.text p{font-size:14px;color:rgba(0,0,0,.5);margin:3px;}
.sec3_1>div label{color:#dd8936;font-size:12px;position: absolute;bottom:20px;right:20px;}
.sec3_1>div:nth-child(1) .text h3{color:#7030a0;}
.sec3_1>div:nth-child(2) .text h3{color:#00b050;}
.sec3_1>div:nth-child(3) .text h3{color:#0000ff;}
.sec3_1>div:nth-child(4) .text h3{color:#ff3300;}

#sec4{width:100%;height:800px;background:#fbfbfb;padding-top:80px;}
.sec4_wrap{width:1280px;height:640px;display:flex;justify-content:space-around;margin:0 auto;flex-wrap:wrap;margin-top:35px;}
.sec4_wrap>div{width:520px;height:300px;margin-right:10px;display:flex;}
.img_wrap{width:250px !important;height:300px;overflow:hidden;}
.sec4_wrap>div>div>img{width:250px;height:300px;transition:.3s;}
.sec4_wrap>div>div>img:hover{transform:scale(1.2);}
.sub{margin:0 5px;padding:10px; padding-right:0;position: relative;}
.sub h4{font-size:20px;margin-bottom:25px;}
.sub p{font-size:14px;color:rgba(0,0,0,.5);margin:5px 0;}
.share{width:100%;display:flex;justify-content:space-between;position: absolute;bottom:0;}
.share img{height:30px;}

#sec5{width:100%;height:460px;padding-top:50px;padding-bottom:10px;}
.sec5_wrap{width:1290px;height:400px;margin:0 auto;margin-top:25px;display:flex;flex-wrap:wrap;}
.sec5_wrap>div{width:385px;height:380px;margin:0 25px 0 20px;}
.sec5_wrap>div>img{width:385px;height:230px;}
.sec5_wrap>div h4{font-size:20px;margin:25px 0 15px;}
.sec5_wrap>div p{font-size:14px;margin:5px 0;color:rgba(0,0,0,.5);}
.sec5_wrap>div:nth-child(1) h4{color:#ff3300;}
.sec5_wrap>div:nth-child(2) h4{color:#0070c0;}
.sec5_wrap>div:nth-child(3) h4{color:#7030b1;}

#sec6{width:100%;height:530px;background:url(../images/odong6[1].jpg) no-repeat left / cover;}
.sec6_wrap{width:1280px;height:530px;margin:0 auto;display:flex;}
.left{width:640px;height:100%;position: relative;}
.left>div h2{color:#fff;font-size:27px;margin-left:calc(20%);font-weight:400;position: absolute;bottom:150px;right:80px;}
.left>div h4{color:#bfbfbf;font-size:17px;margin-left:calc(20%);font-weight:600;position: absolute;bottom:100px;right:170px;}
.left>div div{background:#fff;width:450px;height:60px;border-radius:10px;box-shadow:1px 1px 5px #aaa;position: absolute;bottom:30px;right:65px;}
.left>div div input:last-child{background:#e22a63;color:#fff;text-align: center;line-height:40px;width:95px;height:40px;border-radius:7px;margin-left}
.right{width:580px;height:420px;margin-left:65px;margin-top:80px;background:#fff;position: relative;}
.right>div:first-child{background:#e22a63;width:490px;height:70px;margin:0 auto;margin-top:-40px;line-height:70px;text-align: center;box-shadow:2px 5px 8px #777;}
.right>div:first-child h2{color:#fff;font-size:18px;}
.padding{width:440px;height:320px;margin-left:70px;bottom:50px;top:60px;position: absolute;display:flex;flex-wrap:wrap;justify-content:space-between;}
.padding>input:nth-child(1){width:200px;height:30px;border-bottom:1px solid #aaa;background:#faa;}
.padding>input:nth-child(2){width:200px;height:30px;border-bottom:1px solid #aaa;background:#faa;}
.padding>input:nth-child(3){width:440px;height:30px;border-bottom:1px solid #aaa;background:#faa;margin-bottom:40px;}
.last>input:nth-child(1){width:440px;height:30px;border-bottom:1px solid #aaa;background:#faa;margin-bottom:40px;}
.last>input:nth-child(2){background:#e22a63;border-radius:5px;color:#fff;width:120px;height:40px;line-height:40px;font-size:12px;margin-top:20px;}

#footer{width:calc(100% - 320px);height:100px;background:#333333;position: absolute;bottom:0;color:#fff;line-height:100px;display:flex;padding-left:320px;}
.sns{display:flex;flex-wrap: wrap;align-items:center;margin-right:230px;}
.sns img{width:40px;height:30px;margin-right:15px;}